.hawa {
    background-image: url('../../../../assets/hawaaiian-shirt.png');
}

.print {
    background-image: url('../../../../assets/t-shirt.png');
}

.cargo {
    background-image: url('../../../../assets/joggers.png');
}

.urban {
    background-image: url('../../../../assets/urban.png');
}

.oversized {
    background-image: url('../../../../assets/oversized.png');
}

.fashion {
    background-image: url('../../../../assets/fashion.png');
}

.save {
    background-image: url('../../../../assets/big-save.png');
}