<div class="w-full px-[8%] py-[2%] md:py-0 md:pb-[4%] lg:px-[6%]">
    <h2 
        class="border-l-[4px] lg:border-l-[5px] border-primary pl-3 lg:pl-5 font-medium tracking-wider leading-0 text-midnight lg:text-xl mb-8"
    >
        Big Savings
    </h2>

    <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-3 mb-5">
        <div class="hawa bg-cover bg-center bg-no-repeat py-[12%] px-[6%] md:px-[8%] text-white rounded-[8px]">
            <h4 class="font-medium tracking-wider mb-4 md:text-lg lg:text-3xl">Hawaiian <br> Shirts</h4>
            <p class="text-xs font-light mb-1">Dress up in summer vibe</p>
            <h6 class="leading-none text-xs md:text-sm tracking-wider mb-4">UPTO 50% OFF</h6>
            <fa-icon [icon]="faArrowDown" class="block pl-[12%] mb-[50px]"></fa-icon>
            <button class="py-[6px] px-[20px] text-[10px] md:text-sm tracking-wider border rounded-[4px] font-light">SHOP NOW</button>
        </div>
        <div class="print bg-cover bg-center bg-no-repeat py-[12%] px-[6%] md:px-[8%] text-white rounded-[8px]">
            <div class="flex flex-col items-end">
                <button class="bg-darkBlue text-white font-light text-[9px] md:text-sm px-[14px] py-[8px] rounded-[4px] mb-5">Limited stock</button>
                <h4 class="font-medium tracking-wider mb-4 md:text-lg lg:text-3xl">Printed <br> T-Shirts</h4>
                <p class="text-xs font-light mb-1 capitalize">New designs every week</p>
                <h6 class="leading-none text-xs md:text-sm tracking-wider mb-4">UPTO 50% OFF</h6>
                <fa-icon [icon]="faArrowDown" class="block pr-[12%] mb-[50px]"></fa-icon>
                <button class="py-[6px] px-[20px] text-[10px] md:text-sm tracking-wider border rounded-[4px] font-light">SHOP NOW</button>
            </div>
        </div>
        <div class="cargo bg-cover bg-center bg-no-repeat py-[12%] px-[6%] md:px-[8%] text-midnight rounded-[8px]">
            <div class="flex flex-col items-end">
                <h4 class="font-medium tracking-wider mb-4 md:text-lg lg:text-3xl">Cargo <br> Joggers</h4>
                <p class="text-xs font-light mb-1">Move with style & comfort</p>
                <h6 class="leading-none text-xs md:text-sm tracking-wider mb-4">UPTO 50% OFF</h6>
                <fa-icon [icon]="faArrowDown" class="block pr-[12%] mb-[50px]"></fa-icon>
                <button class="py-[6px] px-[20px] text-[10px] md:text-sm tracking-wider border rounded-[4px] font-light">SHOP NOW</button>
            </div>
        </div>
    </div>

    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 mb-9 md:mb-12">
        <div class="urban bg-no-repeat bg-cover bg-center py-[12%] pr-[18%] md:pr-[20%] rounded-[8px]">
            <div class="flex flex-col items-end">
                <h4 class="font-medium tracking-wider mb-4 md:text-lg lg:text-3xl">Urban <br> Shirts</h4>
                <p class="text-xs font-light mb-1">Live in comfort</p>
                <h6 class="leading-none text-xs md:text-sm tracking-wider mb-4">FLAT 60% OFF</h6>
                <fa-icon [icon]="faArrowDown" class="block pr-[12%] mb-[50px]"></fa-icon>
                <button class="py-[6px] px-[20px] text-[10px] md:text-sm tracking-wider border rounded-[4px] font-light">SHOP NOW</button>
            </div>
        </div>
        <div class="oversized bg-no-repeat bg-cover bg-center py-[12%] pr-[18%] md:pr-[20%] rounded-[8px]">
            <div class="flex flex-col items-end">
                <h4 class="font-medium tracking-wider mb-4 md:text-lg lg:text-3xl">Oversized <br> T-Shirts</h4>
                <p class="text-xs font-light mb-1">Street Style Icon</p>
                <h6 class="leading-none text-xs md:text-sm tracking-wider mb-4">FLAT 60% OFF</h6>
                <fa-icon [icon]="faArrowDown" class="block pr-[12%] mb-[50px]"></fa-icon>
                <button class="py-[6px] px-[20px] text-[10px] md:text-sm tracking-wider border rounded-[4px] font-light">SHOP NOW</button>
            </div>
        </div>
    </div>

    <div class="w-full grid grid-cols-1 md:grid-cols-2">
        <div class="flex flex-col px-[10%] py-[18%] md:px-[12%] fashion bg-no-repeat bg-center bg-cover md:rounded-s-[8px]">
            <h3 class="text-white tracking-wider mb-4 uppercase font-medium md:text-lg lg:text-xl">
                We made your everyday <br> fashion better!
            </h3>
            <p class="text-lightGrey opacity-55 text-xs md:text-sm leading-[20px] mb-8">
                In our journey to improve everyday fashion, euphoria presents EVERYDAY wear range
                 - Comfortable & Affordable fashion 24/7
            </p>
            <button class="bg-white text-darkBlue w-fit px-[18px] py-[7px] rounded text-xs md:text-sm">Shop Now</button>
        </div>
        <div class="save bg-no-repeat bg-center bg-cover md:rounded-e-[8px]"></div>
    </div>
</div>